In [1]:
### print your name with your cat name

In [2]:
print("my name is Andy my cat name is hapiy")

my name is Andy my cat name is hapiy

In [3]:
## define two variables and get their sum division difference and prdouct

In [9]:
s = input("Num") 
j = input("another Num")
s = int(s)
j = int(j)

print("the quote/division is",s/j,"the product is",s*j,"the difference is",s-j,"the sum is",s+j)

Num6
another Num2
the quote/division is 3.0 the product is 12 the difference is 4 the sum is 8

In [10]:
### make a list of 3 fruits and convert it to tuple and then set ... one by one print all of their types

In [12]:
s = ["apple","banana","cucumber"]
print(type(s))
s = tuple(s)
print(type(s))
s = set(s)
print(type(s))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [13]:
# make a dictionary of frutis and their colors

In [15]:
w = {"apple":"red","orange":"orange","banana":"yellow"}
for each in w:
    print("the color of",each,"is",w[each])

the color of apple is red
the color of orange is orange
the color of banana is yellow

In [16]:
# defiene a variable temp = 99 # if temp is more than 100 then turn off stove 
## if temp is less then 90 then turn on stove
## if temp is between 90 and 100 then do nothing

In [24]:
tempuature = input("Temp = ")
tempuature=int(temp)
if tempuature > 100:
    print("close the stove")
elif tempuature < 90:
    print("turn the stove")
else:
    print("do nothing and eat right now or you will be starving")

Temp = 7
turn the stove

In [25]:
### run a for loop to print counting from 1 - 50 and do not print between 10 to 40.....

In [32]:
for each in range(51):
    if each > 9 and each < 41:
        pass
    else:
        print(each)
        print("GOOD")

0
GOOD
1
GOOD
2
GOOD
3
GOOD
4
GOOD
5
GOOD
6
GOOD
7
GOOD
8
GOOD
9
GOOD
41
GOOD
42
GOOD
43
GOOD
44
GOOD
45
GOOD
46
GOOD
47
GOOD
48
GOOD
49
GOOD
50
GOOD

In [38]:
# use a while loop andd print counting from 1 to 50, do not print between 10 to 40

In [8]:
p=1
while p < 51:
    if p < 41 and p > 9:
        pass
    else:
        print(p)
    p=p+1

1
2
3
4
5
6
7
8
9
41
42
43
44
45
46
47
48
49
50

In [9]:
### using while loop can you print 1 to 100 but not 10 to 90

In [10]:
p=1
while p < 101:
    if p < 91 and p > 9:
        pass
    else:
        print(p)
    p=p+1

1
2
3
4
5
6
7
8
9
91
92
93
94
95
96
97
98
99
100

In [11]:
## do same using for loop

In [13]:
for each in range(101):
    if each > 9 and each < 91:
        pass
    else:
        print(each)
        print("GOOD")

0
GOOD
1
GOOD
2
GOOD
3
GOOD
4
GOOD
5
GOOD
6
GOOD
7
GOOD
8
GOOD
9
GOOD
91
GOOD
92
GOOD
93
GOOD
94
GOOD
95
GOOD
96
GOOD
97
GOOD
98
GOOD
99
GOOD
100
GOOD

In [14]:
for each in range(51):
    if (each >=1  and each < 10) or (each<50 and each >40):
        print(each)

1
2
3
4
5
6
7
8
9
41
42
43
44
45
46
47
48
49

In [15]:
for each in range(51):
    if not(each > 9 and each < 41):
        print(each)

0
1
2
3
4
5
6
7
8
9
41
42
43
44
45
46
47
48
49
50

In [ ]:
### functions today we

In [6]:
fruit = 'banana'
len(fruit)
length = len(fruit)
last = fruit[length-1]
print(last)

a

In [5]:
print(length)

6

In [7]:
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index = index + 1

b
a
n
a
n
a

In [10]:
data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'

21
31
uct.ac.za

In [11]:
print(data)

From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008

In [14]:
s = data.find("@")
s

21

In [19]:
data[21:]

'@uct.ac.za Sat Jan 5 09:14:16 2008'