In [2]:
with open("../DATA/One.txt") as mt:
    print(mt.read())

This is a story about dogs
our canine pets
Dogs are furry animals

In [3]:
with open("../DATA/Two.txt") as ms:
    print(ms.read())

This story is about surfing
Catching waves is fun
Surfing is a popular water sport

In [5]:
with open("../DATA/One.txt") as mt:
    data = mt.read()

In [8]:
data

'This is a story about dogs\nour canine pets\nDogs are furry animals\n'

In [13]:
s = "hiii my name is andy"
print(s)

hiii my
name is andy

In [10]:
words = data.split()
words

['This',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'Dogs',
 'are',
 'furry',
 'animals']

In [14]:
### load a fileone.txt and file 2.txt and convert it into lower case then make a list out of it using split function.

In [1]:
with open("../DATA/One.txt") as ms:

    data1 = ms.read()

In [5]:
word_lower_case=data1.lower()

In [4]:
with open("../DATA/Two.txt") as ms:
    data2 = ms.read()

In [6]:
word_lower_case2=data2.lower()

In [11]:
print("the first story is \n",word_lower_case,"and the second story is \n",word_lower_case2)

the first story is
 this is a story about dogs
our canine pets
dogs are furry animals
 and the second story is
 this story is about surfing
catching waves is fun
surfing is a popular water sport

In [18]:
words1 = word_lower_case.split()
words2 =word_lower_case2.split()
words1= set(words1)
words2 = set(words2)

In [22]:
words = set()
words.update(words1)
words
words.update(words2)
words
words=list(words)
words

['dogs',
 'canine',
 'furry',
 'water',
 'fun',
 'is',
 'surfing',
 'this',
 'animals',
 'story',
 'waves',
 'our',
 'are',
 'sport',
 'pets',
 'a',
 'catching',
 'popular',
 'about']

In [23]:
###"what is the main difference between list and tuple"="???"
words1 = word_lower_case.split()
words2 =word_lower_case2.split()
words1=  list(words1)
words2 = list(words2)

In [24]:
word = list(())
word.extend(words1)
word.extend(words2)

In [25]:
word

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals',
 'this',
 'story',
 'is',
 'about',
 'surfing',
 'catching',
 'waves',
 'is',
 'fun',
 'surfing',
 'is',
 'a',
 'popular',
 'water',
 'sport']

In [30]:
#count number of similar words in a list....and put them to dictionary
wordss={}
for each in word:
    wordss[each] = wordss.get(each,0)+1
print(wordss)
all_words = list(wordss.keys())

{'this': 2, 'is': 4, 'a': 2, 'story': 2, 'about': 2, 'dogs': 2, 'our': 1, 'canine': 1, 'pets': 1, 'are': 1, 'furry': 1, 'animals': 1, 'surfing': 2, 'catching': 1, 'waves': 1, 'fun': 1, 'popular': 1, 'water': 1, 'sport': 1}

In [34]:
#homework="you have allswords, can you count same words for file 1 and file 2 spearately hint is user"
for each in all_words:
    if each == words1:
        wordss[each] = wordss.get(each,0)+1
        print(wordss)
    if each == words2:
        wordss[each] = wordss.get(each,0)+1
        print(wordss)